$icon-font-path: '../fonts/';
$color-principal: #1976d2;
$color-active:    #0d47a1; // color del elemento del navbar activo
$color-accent:    #ef6c00; // orange darken-3


// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_carousel.scss";
@import "font-awesome/font-awesome.scss";
// endbower

@font-face {
    font-family: 'montserrat-regular';
    src: url($icon-font-path+'Montserrat-Regular.otf');
}
@font-face {
    font-family: 'quicksand-regular';
    src: url($icon-font-path+'Quicksand-Regular.otf');
}
@font-face {
    font-family: 'quicksand-bold';
    src: url($icon-font-path+'Quicksand-Bold.otf');
}


$tiempo-animacion: 0.3s;
$altura-sc: 200px;
$altura-sl: 700px;

//secciones
.sin-footer{//usado para dar el efecto al footer
  z-index: 98;
  position: relative;
}
.section{
  width: 100%;
  min-height: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.seccion_corta{
  min-height: $altura-sc;
}

.seccion_larga{
  min-height: $altura-sl;
}

#home{
    padding-bottom: 10px;
    background-color: #212121;
}
#acerca{
  background-color: white;
}
#servicios{
  background-color: #e8eaf6;
  //padding-left: 10%;
  //padding-right: 10%;
}

#clientes{
  background-color: white;
}

#proyectos{
  //background-color: #ffeb3b;
  background-image: url(../images/planos.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 !important; //se quita el pading de section para darlo en div de la sombra
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.sombra-proyectos{
  //background-color: rgba( 255, 235, 59, 0.9);
  background-color: rgba( 232,234,246, 0.93);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 200px;
  z-index: 1;
  margin: 0px !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

#partner{
  background-color: white;
}

//general
body{
  font-family: 'quicksand-regular', sans-serif;
  font-size: 18px;
  color: black;
}

strong{
  font-family: 'quicksand-bold';
}

// usado como base el creado en materializecss
// Nota: usa variables del estilo de materializecss

.flow-text-small{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.005 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.0rem;
  }
}


//fuentes
.titulo{
  font-family: 'montserrat-regular', sans-serif;
  font-weight: 900;
  font-size: 32px;
}
.titulo_sc{
  @extend .titulo;
  text-align: left;
}
.titulo_sl{
  @extend .titulo;
  text-align: center;
}

.descripcion{
  font-family: 'quicksand-regular', sans-serif;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.descripcion_sc{
  @extend .descripcion;
  text-align: left;
}
.descripcion_sl{
  @extend .descripcion;
  text-align: center;
}

//divider
.col > hr {
  width: 80px;
  border-color: $color-principal;
  margin-left: 0;
}

.seccion_larga > hr {
  width: 80px;
  border-color: $color-principal;
}
hr{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #eee;
}
//navbar

// barra superior al navbar
.navbar-top{
  min-height: 75px;
  max-height: 130px;
  border-top: 3px solid $color-accent;
  padding-top: 10px;

  .row{
    margin-bottom: 0px;
  }


  .logo-navbar-top{

    @media screen and (min-width: 600px){
      max-height: 75px;
    }
    @media screen and (max-width: 600px){
      max-height: 55px;
    }
  }


  table td{
    padding: 3px;
  }
  .color-icon{
    color: #546fa4;
  }

  .contacto-derecha{
    @media screen and (min-width: 600px){
      float: right !important;
    }
    @media screen and (max-width: 600px){
      float: none !important;
    }
  }
}


.navbar-top-center{
  @media screen and (max-width: 600px){
    text-align: center;
  }
}

.navbar{
  nav{
    background-color: $color-principal;
  }
  nav ul li a{
    font-family: 'montserrat-regular';
  }
  nav ul li a:hover{
    color: $color-accent;
    background-color: $color-active;
  }

  #logo{
    height: 100%;
  }
  .logo-small{
    max-height: 100%;
    padding-top: 14px;
    padding-bottom: 12px;
  }
  .active{
    background-color: $color-active;
    color: white;
  }

  .active:hover{
    background-color: $color-active;
    color: white;
  }


}


.affix{
    top:0;
    width:100%;
    position:fixed;
    z-index: 99;
    border-top: 3px solid $color-accent;
}

.mostrar{
    -webkit-animation-name: anim-mostrar;
    -webkit-animation-duration: $tiempo-animacion;
    animation-name: anim-mostrar;
    animation-duration: $tiempo-animacion;
}

.esconder{
    -webkit-animation-name: anim-esconder;
    -webkit-animation-duration: $tiempo-animacion;
    animation-name: anim-esconder;
    animation-duration: $tiempo-animacion;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes anim-mostrar {
    0%   {opacity: 0.0;}
    100% {opacity: 1.0;}
}

/* Standard syntax */
@keyframes anim-mostrar {
    0%   {opacity: 0.0;}
    100% {opacity: 1.0;}
}

@-webkit-keyframes anim-esconder {
    0%   {opacity: 1.0;}
    100% {opacity: 0.0;}
}

/* Standard syntax */
@keyframes anim-esconder {
    0%   {opacity: 1.0;}
    100% {opacity: 0.0;}
}

// FIX: altura del menu lateral. Se veia opaco y no permitia
// apretar los botones
#sidenav-overlay{
    z-index:1;
}


//home

.titulo-home{
    @extend .titulo;
    font-size: 50px;
    margin-top: 90px !important;
}

.opaco{
  background-color: rgba(0,0,0,0.3) !important;
  top: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.opaco-texto{
  background-color: rgba(0,0,0,0.4) !important;
  top: 0%;
  width: 100%;
}

.slider .indicators .indicator-item.active {
  background-color: $color-accent;
}
/*
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
*/

//acerca
.ajuste-carrusel{
  width: 100%;
  min-height: $altura-sc;
  height: auto;
}

#carrusel-empresa{
  ol{
    li{
      width: 16px;
      height: 16px;
      border: 2px solid $color-principal;
    }

    li.active{
      width: 17px;
      height: 17px;
      background-color: $color-principal;
    }
  }
}

.contenido-acerca{
  p {
    width: 100%;
    text-align: justify;
  }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.contenido-acerca{
    margin-bottom: 80px;
    align-items: center;
    -webkit-align-items: center;
    min-height: 250px;
}

//servicios
.lista-proyectos {
    padding: 0px;
    margin: 0px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-family: 'quicksand-bold';
}

.lista-proyectos ul {
  //margin: 0 0 0 2em;
}

.lista-proyectos li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.lista-proyectos li:hover{
    background: #eee;
}

.lista-proyectos li:before{
    content: "";
    //content: counter(li);
    //counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: $color-principal;
    height: 32px;//2em?
    width: 32px;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.lista-proyectos li:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.lista-proyectos li:hover:after{
    left: -.5em;
    border-left-color: $color-principal;
}
.imagen-servicio{
  position: relative;
  width:100%;
  margin: auto;
}
.contenedor-flex{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
}

//clientes

.grid-sizer,
.grid-item { width: 25%; }

.grid-item {
  height: auto;
  //background: #D12;
  border: 6px solid #fff;
}

.grid-item > img{
   display: block;
   width: 100%;
   height: auto;
   margin: 0 auto;
}
/* 2 columns */

//fila 1

.item-1{
  width: 25%;
}

.item-2{
  width: 35%;
}

.item-3{
  width: 40%;
}

.item-8{
  width: 45%;
}

.item-9{
  width: 35%;
}

.item-10{
  width: 30%;
}

.item-11{
  width: 20%;
}

.item-12{
  width: 40%;
}

.item-13{
  width: 45%;
}

//proyecto

.contenido-proyecto{
  margin: 30px;
}

.card-proyecto:hover{
  /*
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    */
    opacity: 1;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.card-proyecto{
  opacity: 0.6;
  text-align: center !important;
  border: 2px solid #E8EAF6;
  /*
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  */

    /* Firefox */
  -moz-transition: all 1s ease;
  /* WebKit */
  -webkit-transition: all 1s ease;
  /* Opera */
  -o-transition: all 1s ease;
  /* Standard */
  transition: all 1s ease;
}

.card-titulo{
  font-family: 'montserrat-regular', sans-serif;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 5px
}

.card-texto{
  font-size: 15px;
  margin-bottom: 5px;
}

//partners
.contenedor_img_partner{
  position: relative;
  height: 100px;
}
.img_partner{
  width: 90%;
  position: absolute;
  bottom: 0px;
  right: 5%;
  @media screen and (max-width: 600px){
    width: 50%;
    right: 25%;
  }
}
.img_partner_2{
  @extend .img_partner;
  width: 70%;
  max-height: 100%;
  right: 15%;
  @media screen and (max-width: 600px){
    width: 40%;
    right: 30%;
  }
}
.descripcion_partner{
  margin-top: 10px;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  padding-top: 10px;
  text-align: center;
  height: 150px;
}
.subtitulo-p{
  font-family: 'quicksand-bold', sans-serif;
  font-size: 22px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
.control-box {
  text-align: center;
  width: 100%;
}

.carousel-control{
  color: $color-principal;
  font-size: 34px;
  font-weight: 200;
  opacity: 0.7;
  padding: 2px 5px 0px;
  position: static;
  height: 30px;
  width: 15px;
}
.carousel-control:hover{
  color: $color-principal;
  opacity: 1;
}
.carousel-control:focus{
  color: $color-principal;
}
#myCarouselSmall{
  display: none;
}

//footer

#scroll-animate{
  overflow: hidden;
}

#scroll-animate-main{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage, #heightScroll{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage{
  left: 0;
}

#heightScroll{
  right: 0;
}
footer{
  background-image: url(../images/footer-bg.jpg);
  background-position: center top;
  width: 100%;
  bottom: -300px;
  position: fixed;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
footer, #scroll-animate-main {
  -webkit-transition-property: all;
     -moz-transition-property: all;
          transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
          transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
          transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
.col-footer{
  margin-top: 50px;
}
.logo-footer{
  width: 50%;
}
.titulo-footer{
  font-family: 'quicksand-bold';
  font-size: 18px;
  color: #bdbdbd;
}
.texto-footer{
  font-family: 'quicksand-regular';
  font-size: 14px;
  color: #bdbdbd;
}
.icon-footer{
  color: #bdbdbd;
}
.square-footer{
  font-size: 10px;
  color: #bdbdbd;
}
#if-1{
  font-size: 24px;
}
#if-2, #if-3{
  font-size: 26px;
}
#if-4{
  font-size: 22px;
}
.link-footer:hover > .texto-footer{
  font-family: 'quicksand-bold';
  color: white;
  .square-footer{
    color: white;
    font-size: 14px;
  }
}
//Media para tamaño medium de la pantalla
@media(max-width:992px){
  .imagen-servicio{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .col-footer{
    margin-top: 20px;
    text-align: center;
  }
  .logo-footer{
    width: 30%;
  }
  hr#hr-footer{
    width: 40%;
    margin-left: 30%;
    border-color: $color-principal;
  }
}
//Media para tamaño small de la pantalla
@media(max-width:600px){
  #myCarousel{
    display: none;
  }
  #myCarouselSmall{
    display: initial;
  }
  #img-servicio-2{
    display: none;
  }
  .logo-footer{
    width: 50%;
  }
  .desaparecer-footer-s{
    display: none;
  }
}
